/* TODO: Rebuild all CSS and sizing. Create tables to be consistent internally with better control over width*/
#root {
  display: flex;
  justify-content: center;
  background-color: #282c34; /* Or any preferred background color */
}

.app-container {
  width: 100%;
  max-width: 700px;
  min-width: 350px;
  box-sizing: border-box; 
  background-color: #282c34;
}

@media (max-width: 700px) {
  .app-container {
  font-size: calc(8px + 1.4vmin);
  }
}