#root {
  display: flex;
  justify-content: center;
  background-color: var(--background); 
}

.app-container {
  max-width: 1200px;
  box-sizing: border-box; 
  min-height: 100svh; 
  background-color: var(--background);
  color: var(--text);
  overflow-y: auto;
  overflow-x: hidden;
  font-size: min(calc(8px + 1.4vmin), 16px);
}

@media (max-width: 320px) {
  .app-container {
    overflow-x: auto;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:root {
  --text: #e6f3f4;
  --text-inverse: #171818;
  --background: #282c34;
  --primary: #515E63;
  --primary50: #515e6381;
  --primary50alt: rgba(44, 77, 87, 0.502);
  --secondary: #091a20;
  --secondary50: #091a2081;
  --accent: #61dafb;
  --accent50: #61dafb8c;
  --borders: #848686;
  --table-header: #616161;
  --table-shadow: #6161614d;
  --table-background: #3b3b3b;
  --hover: #616161;
  --btn-color: #007bff;
  --btn-hover: #0056b3;
  --slider-width: 48px;
  --slider-height: 28px;
  --slider-inner-size: 20px;
  --slider-inner-pos: 4px;
  --slider-translateX: 20px;
}