/* Head2HeadMatchups.css */
.head2head-container {
    padding: 20px;
    border-radius: 5px;
    background-color: #2c2c2c; /* Dark background */
    color: #f0f0f0; /* Light text */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
}

.head2head-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-row {
    display: flex;
    align-items: flex-end; /* Align items to the bottom of the container */
    gap: 5px; /* Spacing between items */
}

.input-mainrow {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

/* Ensure responsiveness */
@media screen and (max-width: 250px) {
    .input-row, .input-mainrow {
        flex-direction: column;
    }
}

select {
    max-width: 200px;
}

label {
    margin-bottom: 5px;
    color: #f0f0f0; /* Light text color for dark theme */
}

input, select, button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4a4a4a; /* Slightly lighter gray for contrast */
    color: #f0f0f0; /* Light text color */
    cursor: pointer;
    font-size: 1em;
}

input {
    max-width: 100px;
}

button {
    background-color: #333; /* Darker shade for button */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    text-align: end;
    margin: 0 1px;
}

button:hover {
    background-color: #555; /* Slightly lighter shade for hover effect */
}

.matchup-table-container {
    overflow-x: auto; /* Allows horizontal scrolling */
    margin: 10px 0;
}

.matchup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.matchup-table {
    width: 90%;
    min-width: 150px; /* Ensures the table doesn't shrink too much */
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin: 20px auto;
}

.matchup-table th {
    border: 2px solid #ccc;
    padding: 5px;
    background-color: #4a4a4a;
    text-align: center;
    color: #f0f0f0;
}

.matchup-table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    color: #f0f0f0;
}

.matchup-table td.played {
    background-color: #4b3d3d; /* Light gray for played players */
}

.winner {
    background-color: #4CAF50; /* Green background for winning team */
    color: white;
}

.clickable-row {
    cursor: pointer;
    transition: background-color 0.3s;
}

.clickable-row:hover {
    background-color: #555; /* Slightly lighter shade for hover effect */
}

.matchup-summary {
    cursor: pointer;
    width: 100%;
    /* Additional styling */
}

.matchup-details {
    margin-top: 5px;
    background-color: #3b3b3b;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 0px; /* Initially hidden */
    align-self: center;
}

.matchup-container .matchup-details.open {
    max-height: 1000px; /* Adjust as needed */
}

.player-row {
    transition: background-color 0.3s;
}

.player-row:hover {
    background-color: #555; /* Slightly lighter shade for hover effect */
}

@media (max-width: 300px) {
    .matchup-table th, .matchup-table td {
        padding: 6px; /* Smaller padding */
        font-size: 0.6em; /* Smaller font size */
    }
}