/* Home.css */
.logo {
    display: block;
    width: min(90%, 500px);
    margin: auto;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.readOnly-input {
    width: 40px;
}

.link-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: var(--btn-color);
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 1em;
}

.link-btn:hover {
    background-color: var(--btn-hover);
}

.home-inputs {
    display: block;
}

.home-input-second-row {
    margin-top: 10px !important;
}

.big-input {
    width: 200px;
    max-width: 200px;
}

.search-results {
    margin: 10px 0px;
    box-shadow: 0px 0px 0px 2px var(--accent50);
    border-radius: 0.25rem;
    padding: 3px 0px;
    max-height: 500px;
    overflow: auto;
}

.search-results p {
    color: var(--primary50);
    font-style: italic;
    text-align: center;
}