/* Home.css */
.logo {
    display: block; /* Center the logo inside its container */
    width: 90%;
    margin: auto;
}

.logo-container {
    display: flex; /* Use flexbox to center the logo */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
