.install-banner {
  margin: 5px 0px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -100%;
  width: 100%;
  max-width: 1000px;
  z-index: 9999;
  animation: slideIn 5s ease-in-out forwards; /* Apply slide-in animation */
}

@keyframes slideIn {
  from {
    top: -100%; /* Start off the screen */
  }
  to {
    top: 0; /* Move to the top of the screen */
  }
}

.pwa-popup {
  background-color: var(--primary50);
  border: 1px solid var(--secondary50);
  display: flex; /* Update to flex */
  justify-content: space-between; /* Add this line */
  align-items: center; /* Add this line */
  padding: 10px;
  border-radius: 5px;
  width: 80%;
}

.install-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.app-icon {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.install-button {
  background-color: #4CAF50;
  /* Green */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}