.league-changes-table {
    margin: 20px auto 10px auto;
    table-layout: fixed;
    width: 100%;
}

.league-changes-table th {
    border: 2px solid var(--borders);
    padding: 2px;
    text-align: center;
}

.league-changes-table td {
    border: 1px solid var(--borders);
    padding: 5px;
    text-align: center;
}

.league-changes-header {
    background-color: var(--table-header);
}

.player-in-gt1 {
    background-color: #188f182a;
    color: white;
}

.player-in-gt2 {
    background-color: #188f1854;
    color: white;
}

.player-in-gt3 {
    background-color: #188f187e;
    color: white;
}

.player-in-gt4 {
    background-color: #188f18a8;
    color: white;
}

.player-out-gt1 {
    background-color: #8f181827;
    color: white;
}

.player-out-gt2 {
    background-color: #8f181854;
    color: white;
}

.player-out-gt3 {
    background-color: #8f18187e;
    color: white;
}

.player-out-gt4 {
    background-color: #8f1818a8;
    color: white;
}

.manager-popup-info button {
    margin: 10px 3px;
    margin-bottom: 2px;
}

.manager-popup-info h1 {
    margin: 5px 2px;
}

.manager-popup-info h2 {
    padding: 5px 10px;
    margin: 0px;
    background-color: var(--secondary);
}

.manager-popup-name-info {
    border: solid 1px var(--borders);
    background-color: var(--primary50);
    border-radius: 4px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.manager-popup-info-btns {
    display: flex;
    justify-content: space-between;
}