/* LeagueUpdates.css */
/* Styling for LeagueUpdates tables, similar to Head2HeadMatchups.css */
.league-changes-table {
    width: 90%;
    min-width: 150px;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin: 20px auto 10px auto;
}

.league-changes-table th {
    border: 2px solid #ccc;
    padding: 5px;
    background-color: #4a4a4a;
    text-align: center;
    color: #f0f0f0;
}

.league-changes-table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    color: #f0f0f0;
}

.league-changes-header {
    background-color: #616161;
}

.league-change-row:hover {
    background-color: #555;
    cursor: pointer;
    transition: background-color 0.3s;
}

@media (max-width: 300px) {
    .league-changes-table th, .league-changes-table td {
        padding: 6px;
        font-size: 0.6em;
    }
}
