.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 5px; 
    width: 100svw;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: 360px;
    margin-right: 10px;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    color: var(--accent);
    font-size: 1.1em;
    background-position: center;
    transition: background 0.5s;
}

.navbar a:hover {
    background: var(--accent50) radial-gradient(circle, transparent 1%, var(--accent50) 1%) center/15000%;
    color: var(--secondary);
    border-radius: 8px;
}

.navbar a:active {
    background-color: var( --secondary);
    background-size: 100%;
    transition: background 0s;
}

.navbar-logo {
    margin: auto 10px auto 5px;
    height: 70px;
    pointer-events: none;
    align-items: center;
    aspect-ratio:initial;
}

@media (max-width: 320px) {
    .navbar-logo {
        height: 40px;
    }
  }
  

.navbar-logo-container {
    margin: 5px;
    padding: 0px;
}

.splitBar {
    height: 5px;
    width: 100%;
    background-color: var(--primary);
}