.main-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.8em;
}

.input-row {
    display: flex;
    align-items: flex-end; /* Align items to the bottom of the container */
    gap: 5px; /* Spacing between items */
}

.input-mainrow {
    display: flex;
    flex-wrap: wrap;
    align-items: last baseline;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
    margin: 0px 10px;
    box-shadow: 0px 0px 0px 2px var(--accent50);
    border-radius: 0.25rem;   
    padding: 6px 12px;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: auto;
}

.gameweek-display {
    width: 40px;
}

/* Ensure responsiveness */
@media screen and (max-width: 250px) {
    .input-row, .input-mainrow {
        flex-direction: column;
    }
}

select {
    max-width: 200px;
}

label {
    margin-bottom: 5px;
    width: auto;
}

input, select, button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary); /* Slightly lighter gray for contrast */
    cursor: pointer;
    font-size: 1em;
    color: var(--text);
}

input {
    max-width: 60px;
}

button {
    background-color: var(--secondary); /* Darker shade for button */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    text-align: end;
    margin: 0 1px;
/* TODO: Fix height of buttons to be same as inputs */
}

@media (max-width: 320px) {
    .info-table th, .info-table td {
        padding: 6px; /* Smaller padding */
        font-size: 0.6em; /* Smaller font size */
    }
}

.info-table {
    width: 90%;
    min-width: 150px;
    max-width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--primary);
    overflow-x: auto;
}


br {
    display: block;
    margin: 10px 5px;
    border-bottom: 1px solid var(--accent50); /* Slim blue line similar to text color in Navbar.css */
    content: "";
    width: 90%;
}