/* TeamAnalysis.css */
.team-data {
    border-radius: 5px;
    width: 100%;
}

.score {
    /* Style for the player's current score. Adjust as needed. */
    font-weight: bold;
}

.player-data {
    border: 1px solid var(--borders);
    padding: 0;
    margin-bottom: 5px;
}

.manager-name {
    font-weight: bold;
    margin: 0;
    border: 1px solid var(--borders);
    background-color: var(--btn-color);
}

.manager-name h2 {
    text-align: center;
}

.player-info {
    margin: 0;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--borders);
    align-items: stretch;
}

.player-info div {
    border: 1px solid var(--borders);
    padding: 0;
    flex-grow: 1;
    text-align: center;
    font-size: 1.1em;
}

/* Score coloring */
.score-red {
    background-color: #ff63478c;
    /* Tomato red with opacity for dark theme */
}

.score-orange {
    background-color: #ffa5008c;
    /* Orange with opacity for dark theme */
}

.score-green {
    background-color: #0080008c;
    /* Green with opacity for dark theme */
}

.score-blue {
    background-color: #0000ff8c;
    /* Blue with opacity for dark theme */
}

.score-red,
.score-orange,
.score-green,
.score-blue {
    color: var(--text);
}

/* FDR coloring adjustments for dark theme */
.fdr-1 {
    background-color: rgb(2, 95, 5);
    /* Green for easy fixtures */
}

.fdr-2 {
    background-color: #8bc34a;
}

.fdr-3 {
    background-color: #ffeb3b;
}

.fdr-4 {
    background-color: #ff9800;
}

.fdr-5 {
    background-color: #f44336;
    /* Red for difficult fixtures */
}

.fdr-1,
.fdr-2,
.fdr-3,
.fdr-4,
.fdr-5 {
    color: var(--text-inverse);
}

.team-type-header {
    font-size: 1.6em;
    margin: 0;
    margin-bottom: -2px;
    text-align: center;
    border: solid 1px var(--borders);
    background-color: var(--table-header);
}

.players-data {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.players-data-set {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border: solid 1px var(--borders);
    padding: 2px;
    margin: 2px 0 10px 0;
}

.player-frame {
    border: 1px solid var(--borders);
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 3px 3px 5px var(--table-shadow);
    display: flex;
    flex-direction: column;
}

.player-card-row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    width: 100%;
}

.player-card-row-divider {
    height: 0px;
    background-color: var(--borders);
    width: 100%;
}

.player-price,
.player-form,
.player-team,
.player-current-fixture,
.player-score,
.player-fixture,
.player-fixture-next,
.player-stats,
.player-score,
.player-upcoming-fixture,
.player-upcoming-xP,
.player-fixture-details {
    text-align: center;
    border: var(--borders) 1px solid;
}

.player-price,
.player-form,
.player-team,
.player-fixture,
.player-fixture-details,
.player-fixture-next,
.player-upcoming-xP {
    flex: 1;
}

.player-score {
    flex: 1.2;
}

.player-stats {
    flex: 2;
}

.player-upcoming-fixture {
    flex: 3;
}

.player-current-fixture {
    flex: 2.5;
}

.player-form {
    flex: 1.8;
    text-align: center;
    border: var(--borders) 1px solid;
    background-color: var(--primary50);
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.player-name {
    flex: 4;
    /* player name might need more space */
    margin: 0;
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
    border-top: none;
    border-left: none;
    background-color: var(--primary);
}

.player-price {
    border-top: none;
    border-right: none;
    border-bottom: none;
    background-color: var(--secondary);
}

.player-team {
    border-top: none;
    border-right: none;
    border-bottom: none;
    font-weight: bold;
    background-color: var(--accent50);
    border-radius: 0 4px 0 0;
}

.player-stats {
    border-right: none;
    border-bottom: none;
}

.player-price,
.player-form,
.player-team {
    padding-top: 2px;
}

.player-current-fixture,
.player-upcoming-fixture {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.player-upcoming-xP {
    border-right: none;
    border-bottom: none;
}

.player-score {
    border-right: none;
    border-bottom: none;
}

.player-fixture,
.player-fixture-details {
    border-left: none;
    cursor: pointer;
}

.player-fixture-details {
    border-top: none;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

.player-fixture-details.visible {
    opacity: 1;
    max-height: 100px;
}

.player-fixture:nth-child(5),
.player-fixture-details:nth-child(5) {
    border-right: none;
}

.player-fixture-next {
    border-bottom: none;
    border-left: none;
    border-top: none;
}

.player-fixture-next:nth-child(1) {
    border-radius: 0 0 0 4px;
}

.player-fixture-next:nth-child(5) {
    border-radius: 0 0 4px 0;
    border-right: none;
}